body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  position: relative;
  min-height: calc(100vh - 124px);
}

main.auth-class {
  background: #95a5a6;
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png);
  font-family: "Helvetica Neue", Arial, Sans-Serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ql-size-huge {
  font-size: 2em !important;
  font-weight: bold !important;
}

.ql-size-large {
  font-weight: bold !important;
  font-size: 1.6em !important;
}

.ql-size-small {
  font-size: 1.2em !important;
}